html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62, 5%;
}

:root {
    /* custom properties */
    --first-color: rgb(0, 72, 206);
    --second-color: rgb(124, 146, 217);
    --third-color: rgb(220, 2, 75);
}

.header-element {
    color: var(--first-color, '#ffffff');
}

.nav-element {
    color: var(--second-color, '#ffffff');
}

.span-element {
    color: var(--second-color, '#ffffff');
}